body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  width:100%;
  
}
#root .form-group{
    position: relative;
  }
#root button{
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  position: absolute;
  color: #fff;
  right: 0;
  font-weight: 800;

}
#root button:focus{
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}
#root button:hover{
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}
#root legend{
 background-color: #0084B7;
 border-radius: 5px;
 font-size: 14px;
 height: 30px;
 color:#fff;
 height: 2.2rem;
 color: #fff;
 padding-top:6px;
 padding-left:8px;
 font-weight: 800; 
}
.btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}